<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Confirmation</title>
</head>
<body>

<h2>Customer Confirmation</h2>

Customer Name: <span th:text="${customer.firstName} + ' ' + ${customer.lastName}"></span>
<br><br>

Username: <span th:text="${customer.username}"></span>
<br><br>

Email: <span th:text="${customer.email}"></span>
<br><br>

Address: <span th:text="${customer.address}"></span>
<br><br>

Favorite Country: <span th:text="${customer.country}"></span>
<br><br>


</body>
</html>